[Desktop Entry]
Version=1.0
Type=Application
Name=Twentytwentytwenty
Comment=A reminder to look away
Exec=twentytwentytwenty
Icon=twentytwentytwenty
Terminal=true
StartupNotify=false
Categories=Utility;
